
<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="ejs_production.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	 <link rel='stylesheet' href='/css/style.css' />
    <title>Group4 - Operator Interface</title>
  </head>
  <body>

    <h1>Emergency button Operator System</h1>
	<p><%= message %></p>
    <p>
	<% var result = JSON.parse(message) %>
	
	<table class="list">
	<% for(var i=0; i<result.length; i++) {%>
		<tr>
		<td class="attr_title">
		<%= result[i].name %>
		</td>
		<td><%=result[i].time%></td>
		<td><% var html = "<a href ='system/alert/"+result[i].objectid+"'>"+result[i].objectid+" --> GO</a>" %>
		<%- html %></td>

		
		</tr>
	<% } %>
	</table>
	</p>
	<a href ='/css/style.css'>css file</a>
	<a href ="/logout"> Logout</a>
  </body>
</html>
