[submodule "SWEN30007_Emergency_Button"]
	path = SWEN30007_Emergency_Button
	url = https://rdmx@bitbucket.org/rdmx/swen30007-group-4.git
[submodule "SWEN30007_EMERGENCY"]
	path = SWEN30007_EMERGENCY
	url = https://rdmx@bitbucket.org/rdmx/swen30007-group-4.git
