table.header-table 
{
	table-layout: fixed;
	width:100%;
	text-align:center;
	background-color:#C1D2E8;
	
}
table.header-table td:first-child
{
	text-align:left;
}
table.header-table td:last-child
{
	text-align:right;
}

table.footer-table
{
	width:100%;
	table-layout: fixed;
	background-color:#C1D2E8;
}

table.footer-table td:last-child 
{
	text-align:right; 
}


.page_title
{
		font-family: 'Open Sans', sans-serif; font-weight:700;
		font-size: 200%
}

body {
	font-family: 'Open Sans', sans-serif; font-weight:400;
}

.contentBlock
{
	border-radius: 20px;
	border-color:#0016BD;
	background-color:#EEEEEE;
	border-width: 20px;
	padding: 20px 40px;
	max-width: 800px;
	
}



