
<!DOCTYPE html>
<html>
  <head>
    <title>Group 4 Operator Interface</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="page_title">Welcome to Group 4 - Operator Interface</div>
    <p><%= message %></p>
	<a href ="/login"> Login here</a>
  </body>
</html>
