body {
	font-family: 'Open Sans', sans-serif;
}

.page_title
{
		font-family: 'Open Sans', sans-serif; font-weight:700;
		font-size: 200%
}

.attr_title
{
	font-family: 'Open Sans', sans-serif; font-weight:700;
	padding:5px;
	text-align:left;
}

table.list
{
	table-layout: fixed;
	text-align:left;
	background-color:#eeeeee;
	border-radius: 5px;
	border-collapse:collapse;
}